@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
}

u {
  text-decoration: none;
  background-image: linear-gradient(#bae8e8, #bae8e8);
  background-position: 10px 47px;
  background-repeat: repeat-x;
  background-size: 1px 30px;
}

.header {
  display: flex;
  height: 5.625rem;
  align-items: center;
  margin-left: 1.563rem;
}
.header .header__my-name {
  padding-left: 0.549rem;
  font-family: "DM Sans", sans-serif;
}
.header .header__navbar {
  display: none;
}
.header .header__mobile-menu-toggle {
  position: absolute;
  right: 50px;
  background-color: transparent;
  border: 0;
}

.headline {
  margin: 16px;
  padding: 37px;
  height: 52rem;
  background-color: #f7fafa;
}
.headline .headline__subtitle {
  color: #8c9cb1;
  font-size: 4.6728971963vw;
}
.headline .headline__title {
  color: #272643;
  font-size: 14.953271028vw;
  line-height: 120%;
}
.headline .headline__title u {
  text-decoration: none;
  background-image: linear-gradient(#bae8e8, #bae8e8);
  background-position: 2.3364485981vw 10.9813084112vw;
  background-repeat: repeat-x;
  background-size: 1px 7.0093457944vw;
  background-size: 1px 30px;
}
.headline .headline__button {
  color: #272643;
  background: #bae8e8;
  border: 2px solid #272643;
  border-radius: 7px;
  width: 100%;
  padding: 1.6875rem 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.6728971963vw;
  line-height: 1.5rem;
}
.headline .headline__button img {
  position: relative;
  top: 0.6rem;
}