@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

* {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  height: 5.625rem;
  align-items: center;
  margin-left: 1.563rem;
}
.header .header__my-name {
  padding-left: 0.549rem;
  font-family: "DM Sans", sans-serif;
}
.header .header__navbar {
  display: none;
}
.header .header__mobile-menu-toggle {
  position: absolute;
  right: 50px;
  background-color: transparent;
  border: 0;
}

.hero {
  margin: 16px;
  padding: 37px;
  height: 52rem;
  background-color: #f7fafa;
}
.hero .hero__subtitle {
  margin-top: 60px;
  color: #8c9cb1;
  font-size: 4.6728971963vw;
}
.hero .hero__title {
  margin-top: 16px;
  color: #272643;
  font-size: 14.953271028vw;
  line-height: 120%;
}
.hero .hero__title u {
  text-decoration: none;
  background-image: linear-gradient(#bae8e8, #bae8e8);
  background-position: 2.3364485981vw 10.9813084112vw;
  background-repeat: repeat-x;
  background-size: 1px 7.0093457944vw;
}
.hero .hero__button {
  margin-top: 101px;
  color: #272643;
  background: #bae8e8;
  border: 2px solid #272643;
  border-radius: 7px;
  width: 100%;
  padding: 1.6875rem 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.6728971963vw;
  line-height: 1.5rem;
}
.hero .hero__button img {
  position: relative;
  top: 0.6rem;
}

.skills u {
  text-decoration: none;
  background-image: linear-gradient(#bae8e8, #bae8e8);
  background-position: 10px 1.4375rem;
  background-repeat: repeat-x;
  background-size: 1px 0.9375rem;
}
.skills .skills__heading {
  padding-top: 7rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.skills .skills__list {
  padding-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: #8c9cb1;
  font-weight: 500;
}
.skills .skills__list li {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills__list li > img {
  background-color: #a3e1de;
  height: 100px;
  width: 100px;
}
.skills .skills__list li > img:hover {
  background-color: red;
  transform-origin: center;
  transform: scale(1.1);
  transition: 0.4s ease-out;
}