@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.about-me {
  margin-top: 187px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .about-me__heading {
    font-size: 3rem;
    color: #000000;
    font-weight: 600;
  }
  .about-me__image {
    margin-top: 95px;
    width: 70%;
  }
  .about-me__text {
    margin-top: 75px;
    font-size: calc(pxToVw(18) * 100vw);
    width: 86%;
    color: $text-color-grey;
    line-height: calc(pxToVw(32.4) * 100vw);
  }
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas:
      "heading image"
      "text image";
    justify-items: center;
    align-items: center;

    margin-left: 7.75rem;
    .about-me__heading {
      grid-area: heading;
      font-size: 3rem;
      justify-self: start;
      align-self: end;
    }
    .about-me__image {
      grid-area: image;
    }
    .about-me__text {
      grid-area: text;
      font-size: 1.125rem;
      line-height: 2rem;
      max-width: 740px;
      justify-self: start;
    }
  }
}
