@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.about-me {
  margin-top: 187px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 3rem;
    color: #000000;
    font-weight: 600;
  }
  .about-me__image {
    margin-top: 95px;
    width: 70%;
  }
  .about-me__text {
    margin: auto;
    margin-top: 35px;
    font-size: calc(pxToVw(18) * 100vw);
    width: 86%;
    line-height: calc(pxToVw(32.4) * 100vw);
    a {
      color: black;
    }
  }
  h3 {
    padding-top: 40px;
    padding-left: 20px;
  }
  .about-me__content > table {
    width: 90%;
    padding: 10px;
    td {
      border-bottom: 1px solid #ddd;
    }
    td {
      padding: 10px;
    }
  }
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas:
      "heading image"
      "text image";
    justify-items: center;
    align-items: center;

    margin-left: 7.75rem;
    margin: auto;
    max-width: 1500px;
    padding-bottom: 30px;
    h2 {
      grid-area: heading;
      font-size: 3rem;
      justify-self: start;
      align-self: end;
    }
    .about-me__image {
      grid-area: image;
    }
    .about-me__text {
      font-size: 1.125rem;
      line-height: 2rem;
      max-width: 740px;
      justify-self: start;
    }
    .about-me__content {
      grid-area: text;
    }
  }
}
