@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

.hero {
  margin: 16px;
  padding: 37px;
  height: 52rem;
  background-color: $accent-color-background-blue;
  .hero__subtitle {
    margin-top: 60px;
    color: $text-color-grey;
    font-size: calc(pxToVw(20) * 100vw);
  }
  .hero__title {
    margin-top: 16px;
    color: $text-color-dark-blue;
    font-size: calc(pxToVw(64) * 100vw);
    line-height: 120%;

    u {
      text-decoration: none;
      background-image: linear-gradient($accent-color-blue, $accent-color-blue);
      // Not really the intended use of linear-gradient, but it works
      background-position: calc(pxToVw(10) * 100vw) calc(pxToVw(47) * 100vw);
      background-repeat: repeat-x;
      background-size: 1px calc(pxToVw(30) * 100vw);
    }
  }
  .hero__button {
    margin-top: 101px;
    color: $text-color-dark-blue;
    background: $accent-color-blue;
    border: 2px solid $text-color-dark-blue;
    border-radius: 7px;
    width: 100%;
    //padding is top&bottom_left&right
    padding: 1.6875rem 0;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(pxToVw(20) * 100vw);
    line-height: 1.5rem;

    img {
      position: relative;
      top: 0.6rem;
    }
  }
  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero__subtitle {
      font-size: 2rem;
    }
    .hero__title {
      font-size: 5rem;
      max-width: 1108px;
      text-align: center;
      u {
        background-image: none;
        background-image: url(./img/pen-underline.svg);
        background-position: 0px 85px;
        background-size: contain;
        padding-bottom: 40px;
      }
    }
    .hero__button {
      width: 20rem;
      font-size: 1.25rem;
      img {
      }
    }
  }
}
