@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
$card-width: 90vw;

.projects {
  .projects__heading {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
  }

  .projects__card-container {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-child(6),
      &:nth-child(5),
      &:nth-child(4) {
        display: none;
      }
      .card__image {
        margin-top: 60px;
        width: $card-width;

        border-style: solid;
        border-color: $accent-color-lighter-blue;
        border-top-width: calc(pxToVw(77) * 100vw);
        border-left-width: calc(pxToVw(20) * 100vw);
        border-right-width: calc(pxToVw(20) * 100vw);
      }
      .card__info {
        .card__skills {
          margin-top: calc(pxToVw(38) * 100vw);
          .card__skill-icon {
            font-size: calc(pxToVw(14.35) * 100vw);
            font-weight: 600;
            color: $accent-color-blue;
          }
        }
        .card__title {
          width: $card-width;
          font-size: calc(pxToVw(34) * 100vw);
          font-weight: 600;
          color: $text-color-dark-blue;

          margin-top: calc(pxToVw(5) * 100vw);
        }
        .card__description {
          width: $card-width;
          font-size: calc(pxToVw(16) * 100vw);
          font-weight: 400;
          color: $text-color-grey;

          margin-top: calc(pxToVw(26) * 100vw);
        }
        .card__links {
          width: $card-width;
          display: flex;

          margin-top: calc(pxToVw(31) * 100vw);
          .card__icon {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: calc(pxToVw(14.35) * 100vw);
            color: $text-color-dark-blue;
            text-decoration: none;
            margin-right: calc(pxToVw(39) * 100vw);
            img {
              margin-left: calc(pxToVw(11.5) * 100vw);
            }
          }
        }
      }
    }
  }
}
