@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
$card-width: 90vw;

.projects {
  .projects__heading {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
  }

  .projects__card-container {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-child(6),
      &:nth-child(5),
      &:nth-child(4) {
        display: none;
      }
      .card__image {
        margin-top: 60px;
        width: $card-width;

        border-style: solid;
        //border-color: $accent-color-lighter-blue;
        border-color: rgba(227, 246, 245, 0.6);
        border-top-width: calc(pxToVw(77) * 100vw);
        border-left-width: calc(pxToVw(20) * 100vw);
        border-right-width: calc(pxToVw(20) * 100vw);
      }
      .card__info {
        .card__skills {
          margin-top: calc(pxToVw(38) * 100vw);
          .card__skill-icon {
            font-size: calc(pxToVw(14.35) * 100vw);
            font-weight: 600;
            color: $accent-color-blue;
          }
        }
        .card__title {
          width: $card-width;
          font-size: calc(pxToVw(34) * 100vw);
          font-weight: 600;
          color: $text-color-dark-blue;

          margin-top: calc(pxToVw(5) * 100vw);
        }
        .card__description {
          width: $card-width;
          font-size: calc(pxToVw(16) * 100vw);
          font-weight: 400;
          color: $text-color-grey;

          margin-top: calc(pxToVw(26) * 100vw);
        }
        .card__links {
          width: $card-width;
          display: flex;

          margin-top: calc(pxToVw(31) * 100vw);
          .card__icon {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: calc(pxToVw(14.35) * 100vw);
            color: $text-color-dark-blue;
            text-decoration: none;
            margin-right: calc(pxToVw(39) * 100vw);
            img {
              margin-left: calc(pxToVw(11.5) * 100vw);
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width: 768px) {
    $card-width: 440px;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    .projects__card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1800px;
      margin: auto;
      .card {
        width: $card-width;
        align-items: flex-start;
        margin: 49px;
        > .card__image {
          width: $card-width;
          border-top-width: 77px;
          border-left-width: 20px;
          border-right-width: 20px;
        }
        .card__info {
          .card__skills {
            margin-top: 38px;
            .card__skill-icon {
              font-size: 1rem;
              max-width: $card-width;
              margin-top: 38px;
            }
          }
          .card__title {
            max-width: $card-width;
            font-size: 2.375rem;
            margin-top: 5px;
          }
          .card__description {
            font-size: 1.125rem;
            margin-top: 29px;
            width: $card-width;
          }
          .card__links {
            max-width: $card-width;
            margin-top: 31px;
            .card__icon {
              font-size: 1rem;
              margin-right: 39px;
              img {
                margin-left: 11.5px;
              }
            }
          }
        }
        &:nth-child(6),
        &:nth-child(5),
        &:nth-child(4) {
          display: flex;
        }
      }
    }
  }
}
