@use "../abstracts/variables" as *;

.skills {
  .skills__heading {
    padding-top: 7rem;
    display: flex;
    justify-content: center;
  }
  .skills__list {
    padding-top: 5.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: $text-color-grey;
    font-weight: 500;
    li {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      > img {
        background-color: $svg-blue-fill;
        height: 100px;
        width: 100px;

        &:hover {
          background-color: #845bb3;
          transform-origin: center;
          transform: scale(1.1);
          transition: 0.4s ease-out;
          transform: rotate(360deg);
        }
      }
    }
  }
  .skills__desktop-only-text {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .skills__desktop-only-text {
      margin-top: 62px;
      display: block;
      max-width: 484px;
      font-size: 1rem;
      color: $text-color-grey;
      text-align: center;
    }
  }
}
