@use "../abstracts/variables" as *;

.skills {
  .skills__heading {
    padding-top: 7rem;
    display: flex;
    justify-content: center;
  }
  .skills__list {
    padding-top: 5.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: $text-color-grey;
    font-weight: 500;
    li {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li > img {
      background-color: $svg-blue-fill;
      height: 100px;
      width: 100px;

      &:hover {
        background-color: red;
        transform-origin: center;
        transform: scale(1.1);
        transition: 0.4s ease-out;
      }
    }
  }
}
